* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Minecraftia-Regular', sans-serif !important;
  font-size: 14px;
}

@font-face {
  font-family: 'Minecraftia-Regular';
  src: url('./assets/fonts/Minecraftia-Regular.ttf') format('truetype');
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}